{% include "store/base.html" %}
{% load static %}


{% block content %}

    <style>

        body {
            background-color: gray;
        }

    </style>

    <body>
        <br>

        <div class="container bg-white shadow p-5 form-layout">

            <div class="text-center">
                <i class="fa fa-envelope fa-3x text-success" aria-hidden="true"></i>

                <br><br>
                <h5><strong>A verification was sent to your email!</strong></h5>
            <hr>

            <h6>Please check your email</h6>

            </div>
        </div>

    </body>

{% endblock %}