
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- gray out the background in order to highlight the form - inline css for this page only --->

    <style>

        body {
            background-color: gray;
        }

    </style>

    <body>
        <br><br>
        <div class="container bg-white shadow p-5 form-layout">

            <h3> Account Deletion </h3>
            <hr>
            <br>

            <form method="post" autocomplete="off">

                {% csrf_token %}

               <p><strong> Are you sure you want to delete your account? </strong></p>
              

                <button type="submit" class="btn btn-danger btn-lg w-100 btn-block p-2" >&nbsp; Delete your account </button>

            </form>

        </div>
    </body>
    <br><br>

{% endblock %}


